[submodule "php-gedcom"]
	path = php-gedcom
	url = https://github.com/mrkrstphr/php-gedcom.git
[submodule "examples/php/lib/ssgeocoder"]
	path = examples/php/lib/ssgeocoder
	url = https://github.com/stuporglue/ssgeocoder.git
[submodule "examples/php/lib/php-gedcom"]
	path = examples/php/lib/php-gedcom
	url = https://github.com/mrkrstphr/php-gedcom.git
